@import "tailwindcss";

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
   display: none;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #ffffff;
}


.custom-scrollbarr::-webkit-scrollbar {
   display: none;
}
.custom-scrollbarr::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
.custom-scrollbarr::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
/* For Firefox */
.custom-scrollbarr {
  scrollbar-width: thin;
  scrollbar-color: #080101 #ffffff;
}


:root {
  --animate-gradient: gradient 6s ease infinite;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}